* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html,
  body {
    font-family: "Honk", sans-serif;
    color: white;
    background-color: #222738;
  }
  #board {
    background-color: #222276;
    margin: 35px 0px 20px 0px;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
 #SGHeader{
    font-size: 50px;
 }
  /* .noselect {
    user-select: none;
  } */
  #scoringDiv {
    text-align: center;
    font-size: 30px;
  }
  #score {
  
    font-size: 30px;
    font-weight: 800;
  }
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff00bf, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222276;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
